*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: inter;
    
}
h2{
   color: cadetblue; 
}
.container{
    display: flex;
    height: 100vh;
    background-color: rgb(130, 199, 203);
    justify-content: center;
    align-items: center;
}

.form-container{
    width:400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px 20px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

}
form{
    width:100%;
    padding:  20px 20px;
}
form input{
    width:100%;
    padding: 10px;
    border-radius: 5px;
}
form .form-group{
    margin-bottom: 20px;
}

.btn{
    background-color: cadetblue;
    color: white;
    font-size: 1rem;
    outline: none;
    border:none;
    width:100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

.btn:hover{
    border: 1px solid cadetblue;
    background-color: transparent;
    color:black;
    transition: all .8s ease-in-out;

}